[submodule "external/SaschaWillems"]
	path = external/SaschaWillems
	url = https://github.com/SaschaWillems/Vulkan.git
[submodule "external/VulkanHpp-Compute-Sample"]
	path = external/VulkanHpp-Compute-Sample
	url = https://github.com/mcleary/VulkanHpp-Compute-Sample.git
[submodule "external/Vulkan"]
	path = external/Vulkan
	url = https://github.com/SaschaWillems/Vulkan.git
[submodule "external/IntroToVulkan-APIwithoutSecrets"]
	path = external/IntroToVulkan-APIwithoutSecrets
	url = https://github.com/GameTechDev/IntroductionToVulkan.git
